{% extends "nav.html" %}

{% block content %}
    <table class="table table-bordered table-hover table-responsive table-sm">
        <thead class="thead-light">
            <tr>
            <th scope="col">Name</th>
            <th scope="col">API Name</th>
            <th scope="col">Compute Units (ECU)</th>
            <th scope="col">vCPUs</th>
            <th scope="col">GPUs</th>
            <th scope="col">GPU Model</th>
            <th scope="col">GPU Memory</th>
            <th scope="col">CUDA Compute Capability</th>
            <th scope="col">FPGAs</th>
            <!-- <th scope="col">ECU per vCPU</th> -->
            <th scope="col">Physical Processor</th>
            <th scope="col">Clock Speed (GHz)</th>
            <th scope="col">Intel AVX</th>
            <th scope="col">Intel AVX2</th>
            <th scope="col">Intel AVX-512</th>
            <th scope="col">Intel Turbo</th>
            <th scope="col">Instance Storage</th>
            <th scope="col">Instance Storage: already warmed up</th>
            <th scope="col">Instance Storage: SSD TRIM Support</th>
            <th scope="col">Arch</th>
            <th scope="col">Network performance</th>
            <th scope="col">EBS Optimized: Max Bandwith</th>
            <th scope="col">EBS Optimized: Max Throughput (128K)</th>
            <th scope="col">EBS Optimized: Max IOPS (16K)</th>
            <th scope="col">EBS Exposed as NVMe</th>
            <th scope="col">Max IPs</th>
            <th scope="col">Max ENIs</th>
            <th scope="col">Enhanced Networking</th>
            <th scope="col">VPC Only</th>
            <th scope="col">IPv6 Support</th>
            <th scope="col">Placement Group Support</th>
            <th scope="col">Linux Virtualization</th>
            <th scope="col">On EMR</th>
            <th scope="col">Linux on Demand cost</th>
            <th scope="col">Linux Reserved cost</th>
            <th scope="col">RHEL On Demand cost</th>
            <th scope="col">RHEL Reserved cost</th>
            <th scope="col">SLES On Demand cost</th>
            <th scope="col">SLES Reserved cost</th>
            <th scope="col">Windows On Demand cost</th>
            <th scope="col">Windows Reserved cost</th>
            <th scope="col">Windows SQL Web On Demand cost</th>
            <th scope="col">Windows SQL Web Reserved cost</th>
            <th scope="col">Windows SQL Std On Demand cost</th>
            <th scope="col">Windows SQL Std Reserved cost</th>
            <th scope="col">Windows SQL Ent On Demand cost</th>
            <th scope="col">Windows SQL Ent Reserved cost</th>
            <th scope="col">Linux SQL Web On Demand cost</th>
            <th scope="col">Linux SQL Web Reserved cost</th>
            <th scope="col">Linux SQL Std On Demand cost</th>
            <th scope="col">Linux SQL Std Reserved cost</th>
            <th scope="col">Linux SQL Ent On Demand cost</th>
            <th scope="col">Linux SQL Ent Reserved cost</th>
            <th scope="col">EBS Optimized surcharge</th>
            <th scope="col">EMR cost</th>
            </tr>
        </thead>
        <tbody>
            {% for instance in instances %}
            <tr>
                <td>{{ instance.pretty_name }}</td>
                <td>{{ instance.instance_type }}</td>
                <td>{{ instance.ECU }}</td>
                <td>{{ instance.vCPU }}</td>
                <td>{{ instance.GPU }}</td>
                <td>{{ instance.GPU_model }}</td>
                <td>{{ instance.GPU_memory }}</td>
                <td>{{ instance.compute_capability }}</td>
                <td>{{ instance.FPGA }}</td>
                <td>{{ instance.physical_processor}}</td>
                <td>{{ instance.clock_speed_ghz }}</td>
                <td>{{ instance.intel_avx }}</td>
                <td>{{ instance.intel_avx2 }}</td>
                <td>{{ instance.intel_avx512 }}</td>
                <td>{{ instance.intel_turbo }}</td>
                <!-- Storage size-->
                {% if instance.storage %}
                    <td>
                        {{ instance.storage.devices * instance.storage.size}} GiB 
                        {% if instance.storage.devices > 1 %}
                            ({{instance.storage.devices}} * {{ instance.storage.size }} GiB)
                        {% endif %}
                        {% if instance.storage.nvme_ssd %}
                            NVMe
                        {% endif %}
                        SSD
                    </td>
                {% else %}
                    <td>EBS Only</td>
                {% endif %}

                <!-- Instance storage already warmed up-->
                {% if instance.storage%}
                    <td>
                        {% if instance.storage.storage_needs_initialization %}
                        No
                        {% else %}
                        Yes
                        {% endif %}
                    </td>
                {% else %}
                    <td>
                        N.A.
                    </td>
                {% endif %}
                
                <!-- Instance storage trim support -->
                {% if instance.storage%}
                    <td>
                        {% if instance.storage.trim_support %}
                        Yes
                        {% else %}
                        No
                        {% endif %}
                    </td>
                {% else %}
                    <td>
                        N.A.
                    </td>
                {% endif %}

                <!-- Instance processor architecture -->
                <td>
                    {% for arch in instance.arch %}
                        {{ arch }} 
                    {% endfor %}
                </td>
                <td>{{ instance.network_performance }}</td>
                <td>{{ instance.ebs_max_bandwidth }} Mbps</td>
                <td>{{ instance.ebs_throughput }} Mbps</td>
                <td>{{ instance.ebs_iops }} IOPS</td>

                <!-- EBS as NVMe -->
                {% if instance.ebs_as_nvme%}
                    <td>Yes</td>
                {% else %}
                    <td>No</td>
                {% endif %}
                <td>{{ instance.vpc.ips_per_eni }}</td>
                <td>{{ instance.vpc.max_enis }}</td>

                <!-- Enhanced networking -->
                {% if instance.enhanced_networking %}
                    <td>Yes</td>
                {% else %}
                    <td>No</td>
                {% endif %}

                <!-- VPC only -->
                {% if instance.vpc_only %}
                    <td>Yes</td>
                {% else %}
                    <td>No</td>
                {% endif %}

                <!-- Ipv6 support -->
                {% if instance.ipv6_support %}
                    <td>Yes</td>
                {% else %}
                    <td>No</td>
                {% endif %}
                
                <!-- Placement group support -->
                {% if instance.placement_group_support %}
                    <td>Yes</td>
                {% else %}
                    <td>No</td>
                {% endif %}

                {% if instance.linux_virtualization_types | length > 0 %}
                    <td>
                    
                        {% for virtualization_type in instance.linux_virtualization_types %}
                            {{virtualization_type}} 
                        {% endfor %}
                    </td>
                {% else %}
                    <td>
                        Unknown
                    </td>
                {% endif %}

                <!-- EMR -->
                {% if instance.emr %}
                    <td>
                        Yes
                    </td>
                {% else %}
                    <td>
                        No
                    </td>
                {% endif %}

                <!-- Pricing -->
                {% if region in instance.pricing %}
                    <td>$ {{ instance.pricing[region]['linux']['ondemand']}}</td>
                    {% if instance.pricing[region]['linux']['reserved'] %}
                        <td>$ {{ instance.pricing[region]['linux']['reserved'][reserved_type] }}</td>
                    {% else %}
                        <td> Unavailable </td>
                    {% endif %}

                    {% if instance.pricing[region]['rhel'] %}
                        <td>$ {{ instance.pricing[region]['rhel']['ondemand']}}</td>
                        {% if instance.pricing[region]['rhel']['reserved'] %}
                            <td>$ {{ instance.pricing[region]['rhel']['reserved'][reserved_type] }}</td>
                        {% else %}
                            <td> Unavailable </td>
                        {% endif %}
                    {% else %}
                        <td> Unavailable </td>
                        <td> Unavailable </td>
                    {% endif %}


                {% else %}
                    {% for i in range(20) %}
                        <td> Unavailable</td>
                    {% endfor %}
                {% endif %}


            </tr>
            {% endfor %}

        </tbody>
    </table>
{% endblock %}