{% extends "nav.html" %}

{% block content %}
    <table class="table table-bordered table-hover table-responsive table-sm">
        <thead class="thead-light">
            <tr>
            <th scope="col">Name</th>
            <th scope="col">API Name</th>
            <th scope="col">Compute Units (ECU)</th>
            <th scope="col">vCPUs</th>
            <th scope="col">GPUs</th>
            <th scope="col">GPU model</th>
            <th scope="col">GPU Memory</th>
            <th scope="col">CUDA Compute Capability</th>
            <th scope="col">FPGAs</th>
            <th scope="col">ECU per vCPU</th>
            <th scope="col">Physical Processor</th>
            <th scope="col">Clock Speed (GHz)</th>
            <th scope="col">Intel AVX</th>
            <th scope="col">Intel AVX2</th>
            <th scope="col">Intel AVX-512</th>
            <th scope="col">Intel Turbo</th>
            <th scope="col">Instance Storage</th>
            <th scope="col">Instance Storage: already warmed up</th>
            <th scope="col">Instance Storage: SSD TRIM Support</th>
            <th scope="col">Arch</th>
            <th scope="col">Network performance</th>
            <th scope="col">EBS Optimized: Max Bandwith</th>
            <th scope="col">EBS Optimized: Max Throughput (128K)</th>
            <th scope="col">EBS Optimized: Max IOPS (16K)</th>
            <th scope="col">EBS Exposed as NVMe</th>
            <th scope="col">Max IPs</th>
            <th scope="col">Max ENIs</th>
            <th scope="col">Enhanced Networking</th>
            <th scope="col">VPC Only</th>
            <th scope="col">IPv6 Support</th>
            <th scope="col">Placement Group Support</th>
            <th scope="col">Linux Virtualization</th>
            <th scope="col">On EMR</th>
            <th scope="col">Linux on Demand cost</th>
            <th scope="col">Linux Reserved cost</th>
            <th scope="col">RHEL On Demand cost</th>
            <th scope="col">RHEL Reserved cost</th>
            <th scope="col">SLES On Demand cost</th>
            <th scope="col">SLES Reserved cost</th>
            <th scope="col">Windows On Demand cost</th>
            <th scope="col">Windows Reserved cost</th>
            <th scope="col">Windows SQL Web On Demand cost</th>
            <th scope="col">Windows SQL Web Reserved cost</th>
            <th scope="col">Windows SQL Std On Demand cost</th>
            <th scope="col">Windows SQL Std Reserved cost</th>
            <th scope="col">Windows SQL Ent On Demand cost</th>
            <th scope="col">Windows SQL Ent Reserved cost</th>
            <th scope="col">Linux SQL Web On Demand cost</th>
            <th scope="col">Linux SQL Web Reserved cost</th>
            <th scope="col">Linux SQL Std On Demand cost</th>
            <th scope="col">Linux SQL Std Reserved cost</th>
            <th scope="col">Linux SQL Ent On Demand cost</th>
            <th scope="col">Linux SQL Ent Reserved cost</th>
            <th scope="col">EBS Optimized surcharge</th>
            <th scope="col">EMR cost</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
{% endblock %}