{% extends "base.html" %}
{% block page %}
    <!-- Nav bar -->
    <nav class="navbar navbar-dark bg-light navbar-expand-sm fixed-top static-top">
        <a class="navbar-brand text-dark" href="/">Wolk</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="nav navbar-nav">
                <a class="nav-item nav-link active text-dark" href="/aws">AWS</a>
                <a class="nav-item nav-link active text-dark" href="/azure">Azure</a>
                <a class="nav-item nav-link active text-dark" href="/gcp">GCP</a>
                
            </div>
            <div class="nav navbar-nav ml-auto">
                {% if page_logo %}
                    <img src="{{ page_logo }}" class="rounded-lg mr-2" height="40px"/>
                {% endif %}
                <span class="pull-right ml-2">
                    <iframe src="https://ghbtns.com/github-btn.html?user=bverhoeve&repo=wolk&type=star&count=true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
                </span>
            </div>
        </div>
    </nav>

    <!-- Page contents -->
    {% block content %}{% endblock %}
{% endblock %}